.btn{
    padding: 10px;
    margin: 16px;
    background-color: deepskyblue;
    color: black;
    border-radius: 8px;
}

.card-btn{
    background-color: chocolate;
    color: darkred;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;

}