@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

html, body, #root{
    height: 100%;
}

body{
    background-color: #111827;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
}